<div class="gridData__palette">
    <div class="gridData">

        {% block grid %}

            {%
                include 'gridDataItem.html.twig' with {
                    "label": "Ipsum Lorem"
                }
            %}

            {%
                include 'gridDataItem.html.twig' with {
                    "label": "Lorem Ipsum"
                }
            %}

        {% endblock %}


        <button class="gridData__more">More</button>


    </div>
</div>
