// Heading
//
// Markup: heading.html
//
// Styleguide components.heading

.heading,
%heading {
  line-height: 1.45em;
  font-weight: normal;
  text-transform: uppercase;
  color: $palette-1;
  font-family: $oswald;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.heading--primary,
%heading--primary {
  @extend %heading;
  max-width: $bp-medium;
  margin: 0 auto 1rem;
  font-size: 1.75rem;
  @include breakpoint($bp-large) { font-size: 2rem; }
}

.heading--secondary,
%heading--secondary {
  @extend %heading;
  margin: 1rem 0;
  @include respond(header) { font-size: 1.4rem; }
}

.heading--third,
%heading--third {
  @extend %heading;
  font-size: 1.1rem;
  margin: 0;
}
