// Try and order these colors darkest to brightest.
$palette-1: #e1634d;
$palette-2: #fff;
$palette-3: #f5b779;
$palette-4: #fff8e8;
$palette-5: #d2352a;




// Needed for color-contrast
$dark-text-default: #000;
$light-text-default: #fff;

$palettes: $palette-1, $palette-2;
