// Read More
//
// Markup: read-more.html
//
// Styleguide components.read-more

@import '../bower_components/breakpoint-sass/stylesheets/breakpoint';

.read-more,
%read-more {
  @include font-size-line-height(0.95rem);
  padding-top: 1rem;
  display: inline-block;
  fill: currentColor;
  font-weight: 500;

  @include breakpoint($medium) {
    font-size: 1.125rem;
  }

  svg {
    padding-left: .25rem;
    padding-bottom: .10rem;
    height: 15px;
    width: 16px;

    @include breakpoint($medium) {
      vertical-align: baseline;
      padding-bottom: 0;
    }
  }
}
