<div>

  <h2>
    <a href="{{ url }}">{{ label }}</a>
  </h2>

  {{ content|without('links') }}

  {%
    include "read-more.html.twig" with {
      "title": "Learn More",
      "url": url
    }
  %}

</div>
