<article{{ attributes.addClass(classes) }}>

  <h2>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>

  <div>
    {{ content|without('links') }}
  </div>

  {% include "readMore.html.twig" %}

</article>
