/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
  max-width: 100%;
  height: auto;
}


/**
 * Correct overflow displayed in IE.
 */

svg:not(:root) {
  overflow: hidden;
}
