// Base
//
// These are the base styles applied to HTML elements.
//
// Styleguide: base


@import 'variables';

//= require config/variables/*.scss
//= require base/*.scss

// Layouts
//
// The layout styling for major parts of the page that are included with the
// theme. Note: some Panels layouts are included in other parts of the system
// and are not documented.
//
// Styleguide: layouts

//= require layouts/**/*.scss


// Components
//
// Design components are reusable designs that can be applied using just the CSS
// class names specified in the component.
//
// Weight: 1
//
// Styleguide: components

//= require components/**/*.scss

//= require ../templates/components/**/*.scss


// Templates
//
// Templates are mashups of different components as they would be used around the website.
//
// Weight: 2
//
// Styleguide: templates

//= require templates/**/*.scss
